# Pandas Refresher

In [102]:
import pandas as pd
# from pathlib import Path

In [103]:
file_path = "/Users/itr/Desktop/Class Folder/Cryptocurrencies/Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [104]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [105]:
# Reorder the columns so the sepal and petal lengths are the first two columns
# and the widths are the last two columns.
new_column_order = ['sepal_length', 'petal_length', 'sepal_width', 'petal_width']
iris_df = iris_df[new_column_order] 
iris_df.head()

# How to: https://www.youtube.com/watch?v=C3CY102ws78

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [106]:
# Creating an output file with to_csv method once finished product has been produced
output_file_path = "/Users/itr/Desktop/Class Folder/Cryptocurrencies/Resources/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

# Introducing Shopping Data

## Data Cleaning

In [107]:
# Switch - See all output
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)

In [108]:
# Loading in the data
file_path = "/Users/itr/Desktop/Class Folder/Cryptocurrencies/Resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [109]:
# Exploratory Data Analysis
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [110]:
# List dataframe data types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [111]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values that should be addresed")

Column CustomerID has 0 null values that should be addresed
Column Card Member has 2 null values that should be addresed
Column Age has 2 null values that should be addresed
Column Annual Income has 0 null values that should be addresed
Column Spending Score (1-100) has 1 null values that should be addresed

In [112]:
# Use dropna() method to drop null rows
df_shopping = df_shopping.dropna()
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [113]:
# Find duplicates
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [114]:
# Remove the CustomerID column
df_shopping.drop(columns=["CustomerID"], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [115]:
# Text to Number - Transforming String column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [126]:
# Rescale the annual income column given it is far larger and we do want the unsupervised model to overweight the 
# importance of this column / divide annual income by 1000

df_shopping["Annual Income"] = df_shopping["Annual Income"] /1000
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          0.015                    39.0
1            1  21.0          0.015                    81.0
2            0  20.0          0.016                     6.0
3            0  23.0          0.016                    77.0
4            0  31.0          0.017                    40.0

## Skill Drill 

Reformat the names of the columns so they contain no spaces or numbers.

In [134]:
df_shopping = df_shopping.rename(columns={'Card Member':'Member','Age': 'Age', 'Annual Income': 'Income', 'Spending Score (1-100)': 'Score'})

In [135]:
df_shopping.head()

   Member   Age  Income  Score
0       1  19.0   0.015   39.0
1       1  21.0   0.015   81.0
2       0  20.0   0.016    6.0
3       0  23.0   0.016   77.0
4       0  31.0   0.017   40.0

In [138]:
# Saving cleaneddata
output_file_path = "/Users/itr/Desktop/Class Folder/Cryptocurrencies/Resources/shopping_data_cleaned.csv"
df_shopping.to_csv(output_file_path, index=False)
"shopping_data_cleaned.excel"
df_shopping.to_excel("shopping_data_cleaned.excel")

ValueError: No engine for filetype: 'excel'